html,body{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
    font: arial, sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content:space-between;
}

.navPosition{
    padding: 0.7rem 1rem;
}

.container a{
    margin-right: 0.7rem;
    font-size: 14px ;
    font-family: Arial, Helvetica, sans-serif;
}

.container_1 a{
    margin-right: 0.7rem;
    font-size: 14px ;
    font-family: Arial, Helvetica, sans-serif;
}
.container_1 img{
    margin-right: 1rem;
}

.container_1 #contLink{
    border-style: solid;
    padding: 7px 25px;
    border-radius: 6px;
    background-color: #1a73e8;
    border-color: #1a73e8;
    color: white;
    font-size: 5 !important;
    margin-right: 0 !important;
    font-family: Arial, Helvetica, sans-serif;

}


.headerLogo{
    text-align: center;
    margin-top: 5rem;
}

.headerLogo_1{
    text-align: center;
    margin-top: 2rem;
}

.headerSearch{
    height: 2.4rem;
    width: 38rem;
    border: 1px solid;
    border-radius: 3rem;
    border-color: grey;
    background-image: url(outline_search_black_24dp.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 3%;
  }

.headerButtons{
    text-align: center;
    margin-top: 2rem;
} 

.headerButtons a{
    text-decoration: none;
    color: black;
    border:1px solid #dadce0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 11px 16px;
    border-radius: 4px;
    margin-right: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#f2f2f2;
}

.navFooter p{
    padding: 2px 25px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.navPosFooter{
    border-top: 1px solid#dadce0;
    padding:13px 25px;
}

.navFooter_1 a{
    color: rgba(0,0,0,.54);
    font-size:15px;
    margin-right: 10px;
}
